* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
    text-align: center;
}

#catalog {
    background-color: #f9f9f9;
}

.plant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 1em;
}

.plant-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    transition: transform 0.2s;
}

.plant-card:hover {
    transform: scale(1.05);
}

.plant-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    margin-top: 2em;
}
.category-checked{
    background-color: #4CAF50;
    color: white
    !important;
    cursor:pointer;
}
.category-unchecked{
    background-color: white;
    color: black
    !important;
    cursor:pointer;
}
.category-checked:hover,.category-unchecked:hover{
    background-color:#6ABC6D;
    color: white
    !important;
}