.ps-bg-darker-white {
    background-color: #F2F3F5 !important;
}

.ps-bg-green {
    background-color: #4CAF50 !important;
}

.ps-green {
    color: #4CAF50 !important;
}

.ps-white {
    color: white !important;
}