* {
  overflow-wrap: break-word !important;
}

.ps-button{
  outline: none;  
  cursor: pointer;
  background-color: #4CAF50 !important;
  border: 1px solid #4CAF50 !important;
  color: white !important;
}
.ps-button:hover{
  background-color: #3f9442 !important;
  border: 1px solid #3f9442 !important;
}
.ps-button:active {
  background-color: #307233 !important;
  border: 1px solid #307233 !important;
}

.ps-blue-button{
  outline: none;
  cursor: pointer;
  background-color: #4ca3af  !important;
  border: 1px solid #4ca3af  !important;
  color: white !important;
}
.ps-blue-button:hover{
  background-color: #408a94  !important;
  border: 1px solid #408a94 !important;
}
.ps-blue-button:active {
  background-color: #35727a  !important;
  border: 1px solid #35727a  !important;
}

.ps-red-button{
  outline: none;
  cursor: pointer;
  background-color: #af4c4c !important;
  border: 1px solid #af4c4c !important;
  color: white !important;
}
.ps-red-button:hover{
  background-color: #923f3f !important;
  border: 1px solid #923f3f !important;
}
.ps-red-button:active {
  background-color: #773333 !important;
  border: 1px solid #773333 !important;
}

.ps-label{
  background-color: #4CAF50 !important;
  border: 1px solid #4CAF50 !important;
  color: white !important;
}

.ps-card{
  transition: all 0.1s ease !important;
  cursor: pointer;
}
.ps-card:hover{
  box-shadow: 0px 0px 10px #4CAF50 !important;
  transform: translateY(-5px) !important;
}

.form-control:focus{
  box-shadow: 0px 0px 5px #4CAF50 !important;
  border-color: #4CAF50 !important;
}

.form-select:focus{
  box-shadow: 0px 0px 5px #4CAF50 !important;
  border-color: #4CAF50 !important;
}

textarea:focus{
  border-color: #4CAF50 !important;
}

.login-label{
  color: white !important;
  margin-right: 10px;
}

.login-label img{
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 30px;
}